<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-align-content-space-around">
        <a class="has-text-centered" >
            <img src="{{ asset('image/LogoACPG.jpg') }}" width="150" height="90">
        </a>
    </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Actualité du Club
            </a>
            <a class="navbar-item">
                Saison 2022/2023
            </a>
            <div class="navbar-item">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Le Club
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Les différentes équipes
                        </a>
                        <a class="navbar-item">
                            L'équipe Entraineurs
                        </a>
                        {% if app.user %}
                            <a class="navbar-item" href="{{ path('cours_afficher') }}">
                                Les Cours
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>










        <div class="navbar-end">
            {% if is_granted ('ROLE_ADMIN') %}
            <div class="navbar-item">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Administration
                </a>

                <div class="navbar-dropdown">
                    <a href="{{ path('app_register') }}" class="navbar-item">
                        Ajouter un licencié
                    </a>
                    <a class="navbar-item">
                        Ajouter une actualité
                    </a>
                    <a href="{{ path('cours') }}"class="navbar-item">
                        Ajouter un cours
                    </a>
                </div>
            </div>
            {% endif %}



                <div class="buttons">
                    {% if not app.user %}
                        <a href="{{ path('app_login') }}"class="button is-info">
                            <strong>Se Connecter</strong>
                        </a>
                    {% endif %}

                    {% if app.user %}
                        <a class="button is-info" >
                            Mon profil
                        </a>
                        <a href="{{ path('app_logout') }}"  class="button is-info" >
                            <strong>Se Déconnecter</strong>
                        </a>
                    {% endif %}
                    <a class="button is-info">
                        <strong>Nous contacter</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>